/* ---- GENERAL --- */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Nunito;
    src: url(../styles/static/Nunito-Regular.ttf) format("truetype");
}

.body-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-basis: 4px; */
    /* background-color: red; */
}

body {
    min-height: 100vh;
    background-image: url(../img/clear_weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 100%;
    font-family: Nunito, sans-serif;
    color: white;
}


/* THE APP */

/* Search bar */
.body-header-searchbar {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 14px 16px;
    align-self: flex-end;
    font-size: 1em;
    width: 200px;
}
/* Wrapper */
.wrapper {
    min-width: 300px;
    max-width: 600px;
    height: 600px;
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 2fr 1fr;
    grid-template-areas:
    "date date" 
    "conditions temperature"
    "location location";
    gap: 3em;
    grid-auto-columns: repeat(2, 1fr);

    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    text-align: center;
}

/* Header */
.date {
    text-align: left;
    grid-area: date;
}

/* Conditions */
.conditions {
    grid-area: conditions;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.description {
    font-size: 1.5em;
}

/* Temperature */
.temperature {
    grid-area: temperature;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature .icon {
    margin-right: 0.2em;
}

.temperature sup {font-size: 0.5em;}

/* Location */
.loc {
    grid-area: location;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-arrow {
    margin-right: 0.5em;
}

/* FOOTER */
.footer { 
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    width: 100%;
}
/* --- RESPONSIVE DESIGN --- */
/* Digital Tablets */
@media screen and (max-width:610px) {
    body {
        background-image: none;
        background: linear-gradient(to top, #74dbef, #6bcfff, #4bc5ff, #33beff, #27b9ff, #00adff, #0074e4);
    }

    .wrapper {
        background-color: transparent;
        height: 100%;
        width: 100%;
        border-radius: 0;
        padding: auto;
    }

    .copyright {
        text-align: center;
        margin-bottom: 25px;
    }
}

/* Smartphones */
@media screen and (max-width:500px) {
    body { font-size: 90%; }

    .wrapper {
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "date date"
        "conditions conditions"
        "temperature temperature"
        "location location";
        gap: .5cm;
    }
}



